/Pertemuan5/nbproject/private/
/Pertemuan5/build/
/Pertemuan5/dist/
/Pertemuan4/nbproject/private/
/Pertemuan4/build/
/Pertemuan6/nbproject/private/
/Pertemuan6/build/
/Pertemuan10/nbproject/private/
/Pertemuan10/build/
